* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: typewriter;
  src: url(../font/Leorio.ttf) format('truetype');
}
body {
  font-family: 'typewriter';
  color: #fd5400;
  background-color: #ffffe3;
}
/* #373028 */
/* #0cc1c8 */
/* #fd5400 */
/* #0e3d4a */

/* ヘッダーの記述 */

.header-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vw;
}
.header-img {
  background-image: url('../img_salon/landscape/mens3.jpg');
  background-size: cover;
  background-position: center center;
}
.header-img-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img_salon/landscape/mens4.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: all 3000ms;
}
.aaa {
  opacity: 5;
  transition: all 2000ms;
}
.header-logo {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 10vw;
}
.header-nav {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 5vw;
  display: none;
}
.header-menu {
  position: fixed;
  top: 25px;
  z-index: 10;
  font-size: 15px;
  font-weight: 600;
}
.header-menu ul {
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  
  padding: 9px 0px 8px;
}
.header-menu ul li {
  color: #000;
}
.header-menu ul li a {
  text-align: center;
  padding: 9px 17px 8px;
  width: 100%;
  border-radius: 100px;
  transition: all 0.4s;
}
.header-menu .now{
  background-color: rgba(14, 61, 74, 0.8);
  color: #fff;
}
.header-menu ul li a:hover{
  background-color: #fd5400;
  color: #fff;
}
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 31px;
  width: 35px;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  margin: 0 auto;
  top: 10px;
  z-index: 15;/* 重なり順を一番上に */
  cursor: pointer;
}
/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 5px;
  width: 35px;
  border-radius: 3px;
  background: #000;
  transition: 0.5s;
  position: absolute;
}
/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 10px;
}
/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 10px;
}
/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 14;
  background: #fd5400;
  color: #ffffe3;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drawer-list {
  height: auto;
  font-size: 13vw;
}
.drawer-item {
  width: 70vw;
  text-align: center;
  margin: 5vh;
  display: flex;
}
.drawer-item a {
  width: 100%;
  border-radius: 30px;
}
.drawer-item a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}
@media screen and (max-width:820px) {
  .drawer{
    display: flex;
  }
}
@media screen and (min-width:821px) {
  .drawer {
    display: none;
  }
}
@media screen and (max-width:820px) {
  .header-menu{
    display: none;
  }
}
@media screen and (max-width:820px) {
  .header-logo {
    top: 10px;
    left: 10px;
    font-size: 15vw;
  }
  .header-nav {
    right: 20px;
    top: 90%;
    font-size: 9vw;
    display: block;
  }
}

/* mens-container と lady-container*/

.mens,
.lady {
  width: 100%;
  padding: 6vw 0 6vw;
  background-color: #fd5400;
}
.mens {
  border-bottom: #fd5400 solid 10px;
  border-bottom: #ffffe3 dashed 4px;
}
.lady {
  border-top: #fd5400 solid 10px;
}
.mens-container,
.lady-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 60px;
}
.mens-item,
.lady-item {
  width: 100%;
  aspect-ratio: 4 / 5.6;
  border-radius: 40px;
  color: #ffffe3;
  background-color: #173d99;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 15%);
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mens-tittle,
.lady-tittle {
  color: #ffffe3;
  aspect-ratio: 5 / 5;
  margin: auto 0;
}
.mens-img1 {
  background-image: url('../img_salon/portrait/mens7.jpg');
  background-size: cover;
  background-position: center center;
}
.mens-img2 {
  background-image: url('../img_salon/portrait/mens6.jpg');
  background-size: cover;
  background-position: center center;
}
.mens-img3 {
  background-image: url('../img_salon/portrait/mens5.jpg');
  background-size: cover;
  background-position: center center;
}
.lady-img1 {
  background-image: url('../img_salon/portrait/lady9.jpg');
  background-size: cover;
  background-position: center center;
}
.lady-img2 {
  background-image: url('../img_salon/portrait/lady8.jpg');
  background-size: cover;
  background-position: center center;
}
.lady-img3 {
  background-image: url('../img_salon/portrait/lady5.jpg');
  background-size: cover;
  background-position: center center;
}


@media screen and (min-width:733px) and (max-width:1216px){
  .lady-tittle{
    grid-area: tittle;
  }
  .lady-img1{
    grid-area: lady1;
  }
  .lady-img2{
    grid-area: lady2;
  }
  .lady-img3{
  grid-area: lady3;
  }
  .lady-container {
    grid-template-areas:
      "lady1 tittle"
      "lady2 lady3";
  }
  .mens-item,
  .lady-item{
    font-size: 5.5vw;
  }
}
@media screen and (max-width:820px){
  .mens-container,
  .lady-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media screen and (max-width:732px){
  .mens,
  .lady {
    padding: 15vw 0 15vw;
  }
  .lady-container {
    grid-template-areas:
      "tittle"
      "lady1"
      "lady2"
      "lady3";
  }
  .mens-container,
  .lady-container {
    width: 80%;
  }
  .mens-item,
  .lady-item{
    font-size: 10vw;
  }
}
@media screen and (max-width:540px){
  .mens-container,
.lady-container {
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .mens-item,
  .lady-item{
    font-size: 10vw;
  }
}


footer {
  width: 100%;
  height: 40vh;
  border-top: dashed #fd5400 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffe3;
  position: relative;
  z-index: 13;
  margin-top: 6vh;
  margin-bottom: 20px;
}
footer p {
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
  width: auto;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer a {
  width: 20%;
  height: 20%;
  font-size: 2vw;
  background-color: #fd5400;
  color: #ffffe3;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer a:hover {
  transition: 500ms;
  background-color: rgba(253, 84, 0, 0.5);
}
@media screen and (max-width:1023px){
  footer a {
    width: 30%;
  }
}
@media screen and (max-width:912px) {
  footer {
    height: 30vh;
  }
  footer p {
    font-size: 8vw;
  }
  footer a {
    font-size: 4vw;
    width: 40%;
  }
}
.footer-logo {
  width: 80%;
  aspect-ratio: 2.8 / 1;
  margin: 0 auto;
  background-image: url('../img_salon/logoOrange.png');
  background-size: cover;
  background-position: center center;
}


@media screen and (min-width:1023px){
  body {
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  .area{
    scroll-snap-align: start;
  }
}


.area,
.effect {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 2300ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}